<h3 class="mb-2">Appointment List</h3>
<div class="table-responsive" style="height: 500px; overflow: auto;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="h1">Sl NO</th>
                <th scope="col" class="h2">Name</th> 
                <th scope="col" class="h3">Address</th>           
                <th scope="col" class="h4">City</th>
                <th scope="col" class="h5">Package</th>                
                <th scope="col" class="h6">Trainer Preference</th>
                <th scope="col" class="h7">Phone</th>             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let obj of appointmentList">
                <td>{{obj.id}}</td>
                <td>{{obj.firstname}} {{obj.lastname}} </td> 
                <td>{{obj.streetaddress}}</td>                
                <td>{{obj.city}}-{{obj.pincode}}, {{obj.state}}, {{obj.country}}</td>
                <td>{{obj.packages}}</td>                
                <td>{{obj.trainerpreference}}</td>
                <td>{{obj.phonenumber}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" routerLink="/place-fitness-trainer-appointment" (click) = "edit(obj)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteAppointment(obj.id)">Delete</button>
                </td>            
            </tr>
        </tbody>
    </table>
    
</div>